*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0 2vw;
  font-family: "Roboto", sans-serif;
  background-image: url("https://i.picsum.photos/id/719/3840/2160.jpg?hmac=cikxMIEZfArdXQhKanTF8km5KvvueOUSSnL-iucgV-w");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#manager-title {
  text-align: center;
  color: white;
}
#form-section {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#form-title {
  border: 2px solid #00ff99;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 25px;
}
#form-title:focus {
  background: white;
}

#form-content {
  resize: none;
  border: 2px solid #00ff99;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 25px;
}
#form-content:focus {
  background: white;
}
#checkbox-area {
  margin: 0 43%;
  background: #00ff99;
  border-radius: 4px;
  border: 1px solid black;
  text-align: center;
  transition: 0.5s ease-in-out;
  margin-bottom: 25px;
}
#checkbox-area:hover {
  transform: scale(1.1);
}
#submit-btn {
  margin: 0 30%;
  background: #00ff99;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  transition: 0.5s ease-in-out;
  margin-bottom: 25px;
}
#submit-btn:hover {
  transform: scale(1.1);
}

#list-title {
  text-align: center;
  color: white;
}

#filter-articles {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  margin: 0 30%;
}
#visible-articles {
  border: none;
  border: 1px solid black;
  background: #00ff99;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#visible-articles:hover {
  transform: scale(1.1);
}
#hidden-articles {
  border: none;
  border: 1px solid black;
  background: red;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hidden-articles:hover {
  transform: scale(1.1);
}

#articles-list {
  margin: 0 10%;
  list-style-type: none;
  padding-left: 0px;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px;
}
.article-box {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 10px;
  padding-bottom: 5px;
  transition: 0.3s;
}

.article-box:hover {
  background: white;
}
.article-title {
  padding: 0 5px;
}
.article-content {
  padding: 0 5px;
  margin-bottom: 7px;
}
.active-btns {
  display: flex;
  justify-content: space-around;
}
.edit-btn {
  color: red;
  padding: 5px 7px;
  background-color: #00ff99;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.edit-btn:hover {
  transform: scale(1.1);
}

.delete-btn {
  color: #00ff99;
  padding: 5px 8px;
  background-color: red;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.delete-btn:hover {
  transform: scale(1.1);
}
.change-vsbl-btn,
.hide {
  color: red;
  padding: 5px;
  border: 1px solid red;
  border-radius: 20%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.change-vsbl-btn:hover {
  transform: scale(1.1);
}

.save-edit {
  border: none;
  border: 1px solid black;
  padding: 5px 7px;
  border-radius: 20%;
  background: #00ff99;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.save-edit:hover {
  transform: scale(1.1);
}

.show {
  background-color: #00ff99;
  color: black;
  border: 1px solid black;
}

@media (max-width: 480px) {
  #checkbox-area {
    margin: 0 25%;
  }
  #articles-list {
    margin: 0;
  }
  #filter-articles {
    margin: 0;
  }
}
